.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  border: 5px solid violet;
  font-size: medium;
  max-width: 1200px;
}

.form_button {
  background-color: yellow;
  text-align: center;
  color: black;
  border: solid black;
  font: bold;
  margin-bottom: 10px;
  max-width: max-content;
}

.input_activity {
  border: violet;
  padding: 10px;
  border-radius: 10px;
}

.activity_container {
  display: flex;
  flex-direction: row;
  margin: 5px auto 5px;
}

.weather_checkbox_container {
  display: flex;
  flex-direction: row;
  margin: 5px auto 10px;
}
